@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: rgb(35, 254, 254);
}

@layer base {
  .nav {
    border-radius: 8px;
    background: cyan;
    box-shadow: 12px 12px 24px rgb(67, 172, 242), -12px -12px 24px #13afe7;
    box-shadow: 12px 12px 24px skyblue, -12px -12px 24px #079fcd;
  }
.wd{
  width: 87%;
}

}

