@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: #fffcf3;
}

@layer base {
  .nav {
    border-radius: 9px;
    background: hsl(40, 100%, 98%);
    box-shadow: 12px 12px 24px #d9d6cf, -12px -12px 24px #ffffff;
  }

  .card {
    background: #fffaeb;
    border-radius: 5px;
    box-shadow: 5px 5px 14px #ffffff, -5px -5px 14px #ffffff;
  }

}

